<p id="notice"><%= notice %></p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Property sale or rental:</strong>
  <%= @property.property_sale_or_rental %>
</p>

<p>
  <strong>Property price per month:</strong>
  <%= @property.property_price_per_month %>
</p>

<p>
  <strong>Property price for sale:</strong>
  <%= @property.property_price_for_sale %>
</p>

<p>
  <strong>Property rental deposit:</strong>
  <%= @property.property_rental_deposit %>
</p>

<p>
  <strong>Property first line address:</strong>
  <%= @property.property_first_line_address %>
</p>

<p>
  <strong>Property postcode:</strong>
  <%= @property.property_postcode %>
</p>

<p>
  <strong>Property region:</strong>
  <%= @property.property_region %>
</p>

<p>
  <strong>Property listing type:</strong>
  <%= @property.property_listing_type %>
</p>

<p>
  <strong>Property number of bedrooms:</strong>
  <%= @property.property_number_of_bedrooms %>
</p>

<p>
  <strong>Property number of bathrooms:</strong>
  <%= @property.property_number_of_bathrooms %>
</p>

<p>
  <strong>Property size in metres:</strong>
  <%= @property.property_size_in_metres %>
</p>

<p>
  <strong>Property condition:</strong>
  <%= @property.property_condition %>
</p>

<p>
  <strong>Property near banks:</strong>
  <%= @property.property_near_banks %>
</p>

<p>
  <strong>Property is new build:</strong>
  <%= @property.property_is_new_build %>
</p>

<p>
  <strong>Property has elevator:</strong>
  <%= @property.property_has_elevator %>
</p>

<p>
  <strong>Property has garage:</strong>
  <%= @property.property_has_garage %>
</p>

<p>
  <strong>Property has private pool:</strong>
  <%= @property.property_has_private_pool %>
</p>

<p>
  <strong>Property has communal pool:</strong>
  <%= @property.property_has_communal_pool %>
</p>

<p>
  <strong>Property has terrace:</strong>
  <%= @property.property_has_terrace %>
</p>

<p>
  <strong>Property has photos:</strong>
  <%= @property.property_has_photos %>
</p>

<p>
  <strong>Property has airconditioning:</strong>
  <%= @property.property_has_airconditioning %>
</p>

<p>
  <strong>Property has garden:</strong>
  <%= @property.property_has_garden %>
</p>

<p>
  <strong>Property has storage:</strong>
  <%= @property.property_has_storage %>
</p>

<p>
  <strong>Property has wardrobes:</strong>
  <%= @property.property_has_wardrobes %>
</p>

<p>
  <strong>Property floor:</strong>
  <%= @property.property_floor %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user %>
</p>

<p>
  <strong>Property photos:</strong>
  <%= @property.property_photos %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
